@model IEnumerable<vazs.server.Models.DepartmentModelForIndex>

@{
    ViewData["Title"] = "Index";
}

<h1>Отделы разработки</h1>

<p>
    <a asp-action="CreateDepartment" class="btn btn-success"><i class="bi bi-plus"></i>Добавить</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a asp-action="UpdateDepartment" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                            <div class="mx-1"></div>
                            <a asp-action="DeleteDepartment" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Отсутствуют отделы разработки. Добавьте новые.</p>
}

